.menu {
  &-container {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    @include adapt(height, 60, 88);
    width: 100%;
    z-index: 20;
    transition: background-color 0.2s ease-out;

    @media screen and (max-width: 800px) {
      display: block;
      @include adapt(height, 52, 72, 800);
      background-color: rgba(250, 255, 255, 0.8);
    }
  }
  &-burger {
    cursor: pointer;
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
      position: relative;
      margin-left: auto;
      @include adapt(margin-top, 14, 20);
      @include adapt(margin-right, 20, 30);
      @include adapt(height, 24, 40, 800);
      @include adapt(width, 24, 40, 800);
      span,
      &:before,
      &:after {
        margin: 0 auto;
        position: absolute;
        width: 100%;
        @include adapt(height, 2, 3, 800);
        background-color: $clr-black;
      }
      span {
        @include adapt(top, 11, 18.5, 800);
        transition: transform 0.4s ease-in-out;
      }
      &:before {
        @include adapt(top, 4, 8, 800);
        transition:
          top 0.4s ease-in-out,
          transform 0.4s ease-in-out;
      }
      &:after {
        @include adapt(bottom, 4, 8, 800);
        transition:
          bottom 0.4s ease-in-out,
          transform 0.4s ease-in-out;
      }
      &:before,
      &:after {
        content: '';
      }
    }
  }
  &-desktop {
    display: none;
    margin: 0 auto;
    @include adaptMult(padding, 20 32, 20 30, 1024);
    @include adapt(padding-top, 20, 32);
    @include adapt(padding-bottom, 20, 32);
    @include adapt(max-width, 808, 1340);
    width: 100%;

    @media screen and (max-width: 800px) {
      display: none;
    }

    .crumbs {
      margin: 0 auto;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include adapt(gap, 4, 10);
      color: $clr-white;
      li {
        display: inline-block;
        line-height: 1;
        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @include adapt(gap, 4, 8);
          img {
            width: 100%;
            @include adapt(max-width, 18, 24);
            aspect-ratio: 1/1;
          }
          p {
            @include adapt(font-size, 14, 20);
            font-weight: 500;
            line-height: 1.2;
          }
          p,
          img {
            filter: none;
            transition: filter 0.1s linear;
          }
        }
        &:hover {
          p,
          img {
            filter: drop-shadow(0px 0px 4px rgba(255, 255, 243, 0.8));
          }
        }

        @media screen and (max-width: 768px) {
          &:hover {
            p,
            img {
              filter: none;
            }
          }
        }
      }
    }
  }
}
.openedMenu {
  span {
    transform: scaleX(0);
    transform-origin: 55%;
  }
  &:before {
    transform: rotate(45deg);
    @include adapt(top, 11, 18.5, 800);
  }
  &:after {
    transform: rotate(-45deg);
    @include adapt(bottom, 11, 18.5, 800);
  }
}
.closedMenu {
  span {
    transform: scaleX(1);
    transform-origin: 55%;
  }
  &:before {
    transform: rotate(0deg);
    @include adapt(top, 4, 8, 800);
  }
  &:after {
    transform: rotate(0deg);
    @include adapt(bottom, 4, 8, 800);
  }
}
.mobileNav {
  background-color: transparent;
  .menu {
    &-desktop {
      display: block;
      margin-left: auto;
      margin-right: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      @include adapt(padding, 30, 40, 800);
      @include adapt(max-width, 280, 320, 800);
      width: 100%;
      background-color: $clr-white;
      border-radius: clamp(14px, 2.5vw, 20px) 0px 0px clamp(14px, 2.5vw, 20px);
      box-shadow: -2px 2px 15px 0px rgba(0, 24, 102, 0.15);

      opacity: 0;
      animation: fade-in 0.2s ease-out forwards;

      .crumbs {
        flex-direction: column;
        color: $clr-black;
        @include adapt(gap, 12, 18, 800);
        li a {
          img {
            display: none;
          }
          p {
            @include adapt(font-size, 21, 24, 800);
            font-weight: 400;
          }
        }
      }
    }
  }
}
