$scrollbar: 15px;

html.noScroll {
  body {
    padding-right: $scrollbar;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
      padding-right: 0;
    }
  }
}

.modal {
  overflow: hidden;
  margin: auto;
  background: rgba(37, 23, 22, 0.7);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  border: none;
}
.modal::-webkit-backdrop {
  background: rgba(37, 23, 22, 0.7);
  opacity: 0;
}
.modal::backdrop {
  background: rgba(37, 23, 22, 0.7);
  opacity: 0;
}
.modal-container {
  @include adapt(max-width, 700, 1200);
  width: 100%;
  border: none;
  @include adapt(border-radius, 10, 20);
  .box {
    background: white;
    @include adapt(border-radius, 10, 20);
  }
}

.modal-box {
  position: relative;
}

.closeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  @include adapt(top, 5, 10);
  @include adapt(right, 5, 10);
  @include adapt(width, 20, 40);
  @include adapt(height, 20, 40);
  cursor: pointer;
  img {
    display: block;
  }
}

.modal[open],
.modal[closing] {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal[open] {
  padding-right: calc(1em + $scrollbar);
  animation: fade-in 500ms forwards;
  .modal-container {
    -webkit-animation: slide-in 500ms ease-in-out forwards;
    animation: slide-in 500ms ease-in-out forwards;
  }
}

.modal[closing] {
  padding: 1em;
  animation: fade-out 500ms forwards;
  .modal-container {
    animation: slide-out 500ms ease-in forwards;
    pointer-events: none;
  }
}

@media (max-width: 1024px) {
  .modal[open],
  .modal[closing] {
    padding: 1em;
    align-items: flex-start;
  }

  .modal-container {
    @include adapt(max-width, 400, 700, 768);
  }
}

@media (max-width: 700px) {
  .modal-box .modal-content {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .modal[open],
  .modal[closing] {
    padding: 1em;
  }
}

.noPadddingRight {
  padding: 1em;
}

/* add to index.html:

<!-- BUTTON -->
<button
	class="button openButton"
	data-target="modal1"
>
	OPEN_MODAL1
</button>

<!-- MODAL -->
<dialog class="modal modalBlock" id="modal1">
	<div class="modal-container">
		<div class="modal-box box">
			<div class="modal-content">
				<div>MODAL_CONTENT</div>
			</div>
			<div class="closeButton">
				<img src="./assets/images/close.svg" alt="close" />
			</div>
		</div>
	</div>
</dialog>

*/

/* add to index.js:

import { modals } from './libs/modals';

window.addEventListener('DOMContentLoaded', () => {
  'use strict';

  modals('modalBlock', 'openButton', 'closeButton');
});

*/
