/* fonts */
$font-default: 'Inter', Arial, Helvetica, sans-serif;
$font-proxima: 'Proxima Nova', Arial, Helvetica, sans-serif;

/* colors */
$clr-default: #f5f5f5;
/* ================ */
$clr-white: #ffffff;
$clr-black: #3b5676;

/* desktop scrollbar width */
$scrollbar: 15px;

/* font-sizes */
$fs-default: clamp(15px, 0.9375vw, 18px);

$fs-76: clamp(36px, 3.958333vw, 76px);
$fs-56: clamp(26px, 2.916666vw, 56px);
$fs-42: clamp(21px, 1.90909vw, 42px);
$fs-32: clamp(18px, 1.666666vw, 32px);
$fs-24: clamp(16px, 1.25vw, 24px);
$fs-22: clamp(15px, 1.145833vw, 22px);
$fs-20: clamp(14px, 1.041666vw, 20px);
$fs-18: clamp(14px, 0.9375vw, 18px);
$fs-16: clamp(13px, 0.833333vw, 16px);
$fs-14: clamp(12px, 0.729166vw, 14px);
$fs-12: 12px;

.fs76 {
	@include adapt(font-size, 36, 76);
}
.fs56 {
	@include adapt(font-size, 26, 56);
}
.fs42 {
	@include adapt(font-size, 21, 42);
}
.fs32 {
	@include adapt(font-size, 18, 32);
}
.fs24 {
	@include adapt(font-size, 16, 24);
}
.fs22 {
	@include adapt(font-size, 15, 22);
}
.fs20 {
	@include adapt(font-size, 14, 20);
}
.fs18 {
	@include adapt(font-size, 14, 18);
}
.fs16 {
	@include adapt(font-size, 13, 16);
}
.fs14 {
	@include adapt(font-size, 12, 14);
}
.fs12 {
	font-size: 12px;
}

/* margins */
.mt4 {
	margin-top: 4px;
}
.mb4 {
	margin-bottom: 4px;
}
.mt8 {
	@include adapt(margin-top, 6, 8);
}
.mb8 {
	@include adapt(margin-bottom, 6, 8);
}
.mt12 {
	@include adapt(margin-top, 10, 12);
}
.mb12 {
	@include adapt(margin-bottom, 10, 12);
}
.mt14 {
	@include adapt(margin-top, 10, 14);
}
.mb14 {
	@include adapt(margin-bottom, 10, 14);
}
.mt16 {
	@include adapt(margin-top, 10, 16);
}
.mb16 {
	@include adapt(margin-bottom, 10, 16);
}
.mt20 {
	@include adapt(margin-top, 14, 20);
}
.mb20 {
	@include adapt(margin-bottom, 14, 20);
}
.mt24 {
	@include adapt(margin-top, 16, 24);
}
.mb24 {
	@include adapt(margin-bottom, 16, 24);
}
.mt32 {
	@include adapt(margin-top, 14, 32);
}
.mb32 {
	@include adapt(margin-bottom, 14, 32);
}
.mt40 {
	@include adapt(margin-top, 20, 40);
}
.mb40 {
	@include adapt(margin-bottom, 20, 40);
}
.mt48 {
	@include adapt(margin-top, 24, 48);
}
.mb48 {
	@include adapt(margin-bottom, 24, 48);
}
.mt64 {
	@include adapt(margin-top, 30, 64);
}
.mb64 {
	@include adapt(margin-bottom, 30, 64);
}
.mt80 {
	@include adapt(margin-top, 40, 80);
}
.mb80 {
	@include adapt(margin-bottom, 40, 80);
}
.mt120 {
	@include adapt(margin-top, 60, 120);
}
.mb120 {
	@include adapt(margin-bottom, 60, 120);
}

.uppercase {
	text-transform: uppercase;
}
